body {
  font-family: Arial, sans-serif;
}

.card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  border-radius: 10px;
}

#document-title {
  border: none;
  outline: none;
}

.btn-link2 {
  font-weight: 400;
  color: #10222e;
  text-decoration: none;
}

.submit-button {
  border-radius: 10px;
  font-size: 18px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-light {
  background-color: #f8f9fa !important;
}

.tag {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.btn-primary2 {
  color: #fff;
  background-color: #10222e;
  border-color: #10222e;
}

.row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -150px;
  margin-left: -150px;
}

.highlight {
  background-color: rgb(230, 230, 10);
}

.btn-primary3 {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
